In [1]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(  # TO CONNECT TO db
    host="localhost",       # or your db server address
    user="root",   # your MySQL username
    password="root", # your MySQL password
    database="inventory"   # optional: specify the db/schema to use
)

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CBBD472CE0>

In [3]:
cursor = conn.cursor()    # (Optional) Use a Cursor to Interact with the Database
cursor.execute("SHOW TABLES")  # used to view db within the db.
for x in cursor:
    print(x)

('begin_inventory',)
('end_inventory',)
('purchase_prices',)
('purchases',)
('sales',)
('vendor_invoice',)

In [4]:
pd.read_sql("select count(*) from purchases",conn)  #to read number of rows in a table.

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\3632615351.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select count(*) from purchases",conn)  #to read number of rows in a table.

   count(*)
0   2372474

In [5]:
#Get all table names from the database
cursor.execute("SHOW TABLES")
tables = [row[0] for row in cursor.fetchall()]

In [6]:
# For each table, count the number of records
for table in tables:
    cursor.execute(f"SELECT COUNT(*) FROM `{table}`")
    count = cursor.fetchone()[0]
    print(f"Table '{table}' has {count} records.")

Table 'begin_inventory' has 431018 records.
Table 'end_inventory' has 0 records.
Table 'purchase_prices' has 12261 records.
Table 'purchases' has 2372474 records.
Table 'sales' has 51301452 records.
Table 'vendor_invoice' has 5543 records.

In [7]:
purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466",conn)
purchases

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\1657624297.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466",conn)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [8]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [9]:
purchase_prices = pd.read_sql_query("select * from purchase_prices",conn)

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\1311750002.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  purchase_prices = pd.read_sql_query("select * from purchase_prices",conn)

In [10]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750.0,1,9.28,8320,SHAW ROSS INT L IMP LTD \r
1,62,Herradura Silver Tequila,36.99,750mL,750.0,1,28.67,1128,BROWN-FORMAN CORP \r
2,63,Herradura Reposado Tequila,38.99,750mL,750.0,1,30.46,1128,BROWN-FORMAN CORP \r
3,72,No. 3 London Dry Gin,34.99,750mL,750.0,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP \r
4,75,Three Olives Tomato Vodka,14.99,750mL,750.0,1,10.94,7245,PROXIMO SPIRITS INC. \r
...,...,...,...,...,...,...,...,...,...
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750.0,2,16.55,90024,VINILANDIA USA \r
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750.0,2,14.93,4425,MARTIGNETTI COMPANIES\r
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750.0,2,61.43,10754,PERFECTA WINES \r
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500.0,2,8.90,9744,FREDERICK WILDMAN & SONS \r
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750.0,2,24.32,10754,PERFECTA WINES \r

The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.
The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.
The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight.
This table maintains uniqueness based on vendor and PO number.
The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

Dollar = price*qty (applied to all tables)

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:
>purchase transactions made by vendors
>sales transaction data
>freight costs for each vendor
>actual product prices from vendors

In [11]:
vendor_invoice = pd.read_sql_query("select * from vendor_invoice",conn)

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\3378658530.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  vendor_invoice = pd.read_sql_query("select * from vendor_invoice",conn)

In [12]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [13]:
freight_summary = pd.read_sql_query("""select VendorNumber,sum(freight) as FreightCost
from vendor_invoice
group by VendorNumber""",conn)

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\4136410428.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  freight_summary = pd.read_sql_query("""select VendorNumber,sum(freight) as FreightCost

In [14]:
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [15]:
# pd.read_sql_query("""select 
# p.VendorNumber,p.VendorName,p.Brand,p.PurchasePrice,
# pp.Volume, pp.Price as ActualPrice,
# SUM(p.Quantity) as TotalPurchasequantity,
# SUM(p.Dollars) as TotalPurchaseDollars
# from
# purchases p join 
# purchase_prices pp
# on p.Brand = pp.Brand
# where p.PurchasePrice > 0
# group by p.VendorNumber,p.VendorName,p.Brand,p.PurchasePrice,pp.Volume, pp.Price
# order by TotalPurchaseDollars""",conn)

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\324797898.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""select

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchasequantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50.0,0.99,1.0,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200.0,1.99,1.0,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50.0,0.99,2.0,1.48
3,8004,SAZERAC CO INC,5683,0.39,50.0,0.49,6.0,2.34
4,9815,WINE GROUP INC,8527,1.32,750.0,4.99,2.0,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750.0,29.99,138109.0,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750.0,22.99,201682.0,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750.0,24.99,187407.0,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750.0,28.99,164038.0,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750.0,36.99,145080.0,3811251.60

In [16]:
# sales_copy = pd.read_sql_query("select * from sales where VendorNo = 12456", conn)

In [17]:
# sales_copy.columns

In [18]:
# pd.read_sql_query("""select
# VendorNo,Brand,
# sum(SalesDollars) as TotalSalesDollars,
# sum(SalesPrice) as TotalSalesPrice,
# sum(SalesQuantity) as TotalSalesQuantity,
# sum(ExciseTax) as TotalExciseTax
# from
# sales 
# group by VendorNo,Brand
# order by TotalSalesDollars""",conn)

In [21]:
vendor_sales_summary = pd.read_sql_query(  # here we join 3 CTEs FreightSummary,PurchaseSummary,SalesSummary to get an aggregated table. Within CTEs we have joined multiple tables
    """with FreightSummary as(
select VendorNumber,sum(freight) as FreightCost
from vendor_invoice
group by VendorNumber
),
PurchaseSummary as(
select 
p.VendorNumber,p.VendorName,p.Brand,p.Description,p.PurchasePrice,
pp.Volume, pp.Price as ActualPrice,
SUM(p.Quantity) as TotalPurchasequantity,
SUM(p.Dollars) as TotalPurchaseDollars
from
purchases p join 
purchase_prices pp
on p.Brand = pp.Brand
where p.PurchasePrice > 0
group by p.VendorNumber,p.VendorName,p.Brand,p.Description,p.PurchasePrice,pp.Volume, pp.Price
),
SalesSummary as(
select
VendorNo,Brand,
sum(SalesDollars) as TotalSalesDollars,
sum(SalesPrice) as TotalSalesPrice,
sum(SalesQuantity) as TotalSalesQuantity,
sum(ExciseTax) as TotalExciseTax
from
sales
group by
VendorNo,Brand
)
select
	ps.VendorNumber,ps.VendorName,ps.Brand,ps.Description,ps.PurchasePrice, ps.ActualPrice,ps.Volume,ps.TotalPurchasequantity,ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,ss.TotalSalesDollars,ss.TotalSalesPrice,ss.TotalExciseTax,
    fs.FreightCost
from
	PurchaseSummary ps
left join SalesSummary ss
on ps.VendorNumber = ss.VendorNo
and ps.Brand = ss.Brand
left join FreightSummary fs
on ps.VendorNumber = fs.VendorNumber
order by ps.TotalPurchaseDollars desc"""
,conn)

C:\Users\n8nik\AppData\Local\Temp\ipykernel_10552\2519840256.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  vendor_sales_summary = pd.read_sql_query(  # here we join 3 CTEs FreightSummary,PurchaseSummary,SalesSummary to get an aggregated table. Within CTEs we have joined multiple tables

In [22]:
vendor_sales_summary #from the above query we got an aggregated table like below with all the information

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchasequantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080.0,3811251.60,568196.0,20407678.04,2691277.24,1043996.80,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038.0,3804041.22,640988.0,19276293.96,2246049.48,1177754.64,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407.0,3418303.68,748560.0,18152482.40,1844560.60,1375416.28,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682.0,3261197.94,801648.0,17903891.52,1680200.04,1472971.20,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109.0,3023206.01,543352.0,16892430.48,2183113.12,998351.32,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2.0,2.64,20.0,63.80,43.84,2.20,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6.0,2.34,536.0,262.64,5.88,28.16,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.48,8.0,7.92,3.96,0.40,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1.0,1.47,288.0,573.12,310.44,60.48,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1.0,0.71,344.0,340.56,134.64,17.84,38994.78

This query generates a vendor wise sales and purchase summary, which is valuable for:

Performance Optimization:
The query involves heavy joins and aggregations on large datasets like sales and purchases.
Storing the pre-aggregated results avoids repeated expensive computations.
Helps in analyzing sales, purchases, and pricing for different vendors and brands.
Future Benefits of Storing this data for faster Dashboarding & Reporting.
Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [27]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchasequantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
SalestoPurchaseRatio     float64
StockTurnover            float64
dtype: object

In [28]:
vendor_sales_summary.isnull().sum()  #to check missing/null values in columns

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchasequantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
FreightCost                0
SalestoPurchaseRatio     178
StockTurnover            178
dtype: int64

In [29]:
vendor_sales_summary['VendorName'].unique()  # to check any trailing/ leading whitespaces in the column. Here we can see some vnames have leading whitespaces which needs removal

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [31]:
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      shape=(9651,), dtype=object)

In [30]:
vendor_sales_summary['Description'].apply(lambda x: x != x.strip()).any() # this code is used to find if a column has leading/trailing whitesapces. Output np.True_ means there 
                                                                    #are whitesapces. np.False_ means no whitespaces.

np.False_

In [32]:
# Steps to check which rows have leading and trailing whitespaces in VendorName column


# 1. Create a mask for rows with leading/trailing whitespace in 'VendorName'
whitespace_mask = vendor_sales_summary['VendorName'] != vendor_sales_summary['VendorName'].str.strip()

# 2. Filter rows where the mask is True
rows_with_whitespace = vendor_sales_summary[whitespace_mask]

# 3. Display those rows
print(vendor_sales_summary.loc[whitespace_mask, 'VendorName'])

0        BROWN-FORMAN CORP
2        PERNOD RICARD USA
3        DIAGEO NORTH AMERICA INC
4        DIAGEO NORTH AMERICA INC
5        BACARDI USA INC
                    ...
10687    WINE GROUP INC
10688    SAZERAC CO INC
10689    HEAVEN HILL DISTILLERIES
10690    DIAGEO NORTH AMERICA INC
10691    PROXIMO SPIRITS INC.
Name: VendorName, Length: 9137, dtype: object

In [33]:
vendor_sales_summary.fillna(0,inplace=True)  # this is to replace all NULL values in df with 0

In [34]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()  # to strip all leading/trailing whitespaces from VendorName column

In [35]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchasequantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,SalestoPurchaseRatio,StockTurnover
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080.0,3811251.60,568196.0,20407678.04,2691277.24,1043996.80,68601.68,5.354587,3.916432
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038.0,3804041.22,640988.0,19276293.96,2246049.48,1177754.64,144929.24,5.067320,3.907558
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407.0,3418303.68,748560.0,18152482.40,1844560.60,1375416.28,123780.22,5.310377,3.994301
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682.0,3261197.94,801648.0,17903891.52,1680200.04,1472971.20,257032.07,5.489974,3.974812
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109.0,3023206.01,543352.0,16892430.48,2183113.12,998351.32,257032.07,5.587588,3.934226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2.0,2.64,20.0,63.80,43.84,2.20,27100.41,24.166667,10.000000
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6.0,2.34,536.0,262.64,5.88,28.16,50293.62,112.239316,89.333333
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.48,8.0,7.92,3.96,0.40,14069.87,5.351351,4.000000
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1.0,1.47,288.0,573.12,310.44,60.48,257032.07,389.877551,288.000000
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1.0,0.71,344.0,340.56,134.64,17.84,38994.78,479.661972,344.000000

In [36]:
#  We need to find Gross Profit . For this we have to create a new column.

vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [37]:
has_negative = (vendor_sales_summary['GrossProfit'] < 0).any()
print(has_negative)  # True if any negative values exist, False otherwise

True

In [38]:
min_value = vendor_sales_summary['GrossProfit'].min()

print(min_value)

-28614.08

In [39]:
# column to calculate PROFIT MARGIN % 

vendor_sales_summary['ProfitMargin%'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalPurchaseDollars'])*100

In [ ]:
# column to calculate STOCK TURNOVER . This calculates how many purchase qty was there (bought/in stock) and how many qty were sold.
# ex: 10 qty was bought and 10 were sold. Here o/p is 1 that means all qty were sold. If o/p is less than 1 like 0.8 means less qty were sold.
# If o/p is more than 1 like 1.5 that means more qty was sold. This can be due to old stock qty already being there in stock that was sold.

vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchasequantity']

In [41]:
# Column to calculate Sales to Purchase ratio

vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [43]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchasequantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,SalestoPurchaseRatio,StockTurnover,GrossProfit,ProfitMargin%
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080.0,3811251.60,568196.0,20407678.04,2691277.24,1043996.80,68601.68,5.354587,3.916432,16596426.44,435.458694
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038.0,3804041.22,640988.0,19276293.96,2246049.48,1177754.64,144929.24,5.067320,3.907558,15472252.74,406.731995
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407.0,3418303.68,748560.0,18152482.40,1844560.60,1375416.28,123780.22,5.310377,3.994301,14734178.72,431.037734
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682.0,3261197.94,801648.0,17903891.52,1680200.04,1472971.20,257032.07,5.489974,3.974812,14642693.58,448.997388
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109.0,3023206.01,543352.0,16892430.48,2183113.12,998351.32,257032.07,5.587588,3.934226,13869224.47,458.758828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2.0,2.64,20.0,63.80,43.84,2.20,27100.41,24.166667,10.000000,61.16,2316.666667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6.0,2.34,536.0,262.64,5.88,28.16,50293.62,112.239316,89.333333,260.30,11123.931624
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.48,8.0,7.92,3.96,0.40,14069.87,5.351351,4.000000,6.44,435.135135
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1.0,1.47,288.0,573.12,310.44,60.48,257032.07,389.877551,288.000000,571.65,38887.755102
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1.0,0.71,344.0,340.56,134.64,17.84,38994.78,479.661972,344.000000,339.85,47866.197183

In [44]:
vendor_sales_summary.to_excel('vendor_sales_summary.xlsx', index=False)

In this file vendor_performance_DA.ipynb we have:
1. Imported data from DB
2. Created an aggregated table with all required data.
3. Created new columns with required metrics.
4. Saved it back in a excel file 'vendor_sales_summary.xlsx'. In the video the lady saved it back to the DB and created a script to repeat this task for repetitive tasks in
   companies.